body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#map-container {
    width: 48%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#county-map {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#year-slider {
    width: 100%;
    margin-top: 20px;
}

#selected-year {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#chart-container {
    width: 48%;
    margin: 0;
    padding: 0;
}

#deathsChart {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #map-container, #chart-container {
        width: 100%;
        margin-bottom: 20px;
    }
}

#feature-weights-container {
    margin-top: 20px;
    width: 48%; /* Same width as the map */
    max-height: 300px; /* Adjust the height to make it shorter */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#feature-weights-table {
    width: 100%;
    table-layout: fixed; /* Make columns have equal width */
}

#feature-weights-table th, #feature-weights-table td {
    padding: 8px 12px;
    text-align: left;
    white-space: nowrap; /* Prevent wrapping of text */
}

#feature-weights-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

#feature-weights-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
