body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;

    color: #fff;

}

.navbar {
    background-color: #333;

    border-bottom: 2px solid #555;

}

.navbar-brand,
.nav-link {
    color: #fff !important;

}

.navbar-toggler-icon {
    filter: invert(1);

}

.search-bar-container {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #222;

    position: relative;
    z-index: 1001;
}

.search-bar-container .form-control {
    max-width: 500px;
    border-radius: 30px;
    height: 40px;
    position: relative;
    z-index: 1002;
    padding-right: 10px;
    background-color: #fff;

    color: #000;

}

#suggestions {
    background: #333;

    border: 1px solid #555;

    margin-top: 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
}

#suggestions .list-group-item {
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;

    background-color: #333;

}

#suggestions .list-group-item:hover {
    background-color: #555;

}

.map-container {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000;

    position: relative;
    width: 100%;
}

#us-map {
    width: 90%;
    max-width: 1700px;
    height: 75vh;
    position: relative;
    border: 2px solid #555;

    border-radius: 10px;
    margin: 0 auto;
}

#reset-map {
    position: absolute;
    top: 75px;
    left: 12px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1003;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

#reset-map i {
    color: #000;
    font-size: 16px;
    line-height: 1;
}

#play-pause-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-pause-button i {
    font-size: 18px;
}

.year-slider-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    text-align: center;
    z-index: 1002;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#year-slider {
    width: calc(100% - 160px);
    margin-right: 10px;
    margin-left: 10px;
}

#selected-year {
    font-size: 20px;
    margin-left: 15px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#year-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #333 0%, #333 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#year-slider::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #333 0%, #333 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#year-slider::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent;
}

#year-slider::-ms-fill-lower {
    background: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#year-slider::-ms-fill-upper {
    background: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 1);
    border: 2px solid #fff;
    margin-top: -7px;
}

#year-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 1);
    border: 2px solid #fff;
}

#year-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 1);
    border: 2px solid #fff;
}

#year-slider::-webkit-slider-runnable-track:before,
#year-slider::-moz-range-track:before,
#year-slider::-ms-fill-lower:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    background: #fff;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
}

#selected-year {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}


#tickmarks option {
    background-color: transparent;
}

#tickmarks option[value="2015"]:before {
    content: "2015";
    position: absolute;
    left: 0%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2016"]:before {
    content: "2016";
    position: absolute;
    left: 10%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2017"]:before {
    content: "2017";
    position: absolute;
    left: 20%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2018"]:before {
    content: "2018";
    position: absolute;
    left: 30%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2019"]:before {
    content: "2019";
    position: absolute;
    left: 40%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2020"]:before {
    content: "2020";
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2021"]:before {
    content: "2021";
    position: absolute;
    left: 60%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2022"]:before {
    content: "2022";
    position: absolute;
    left: 70%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2023"]:before {
    content: "2023";
    position: absolute;
    left: 80%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2024"]:before {
    content: "2024 (Forecast)";
    position: absolute;
    left: 90%;
    top: 30px;
    transform: translateX(-50%);
}

#tickmarks option[value="2025"]:before {
    content: "2025 (Forecast)";
    position: absolute;
    left: 100%;
    top: 30px;
    transform: translateX(-50%);
}

.scroll-down-indicator {
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;

}

.scroll-down-indicator a {
    font-size: 32px;
    color: #fff;

    text-decoration: none;
    transition: color 0.3s ease;
}

.scroll-down-indicator:hover a {
    color: #aaa;

}

.description-container {
    padding: 30px 0;
    background-color: #111;

}

.description-container .text-left {
    text-align: left;

    color: #ddd;

}

.description-container h2,
.description-container h3 {
    color: #fff;

}

.description-container p {
    font-size: 16px;
    line-height: 1.5;
}

.description-container .table {
    margin-top: 20px;

}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1.0px 1.0px 1.0px #000000;
    background: #444;

    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1.0px 1.0px 1.0px #000;
    background: #444;

    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type="range"]::-moz-range-thumb {
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;

    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: #444;

    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1.0px 1.0px 1.0px #000;
}

input[type="range"]::-ms-fill-upper {
    background: #444;

    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1.0px 1.0px 1.0px #000;
}

input[type="range"]::-ms-thumb {
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;

    cursor: pointer;
    height: 8.4px;
}

input[type="range"]:focus::-ms-fill-lower {
    background: #444;

}

input[type="range"]:focus::-ms-fill-upper {
    background: #444;

}


#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1000;
    display: none;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#map-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.info.legend {
    background: #fff;
    padding: 10px;
    line-height: 18px;
    color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}


.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 2px;
}

#info-button {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

#info-button i {
    font-size: 16px;
}

.glow {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    transition: box-shadow 0.5s ease-in-out;
}

.map-title-container {
    text-align: center;
    padding: 20px 0;
    background-color: #111;

    color: #fff;

    border-bottom: 2px solid #555;

}

.map-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#map-instructions-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
}

#map-instructions-overlay .overlay-content {
    background-color: rgba(51, 51, 51, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}

#map-instructions-overlay button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}